body{padding:5;background:black none repeat scroll 0 0;border:0px solid #000;color:#e0e0e0;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-family:Monaco, Menlo, Consola, Inconsolata, "Courier New", monospace;font-size:100%;}
code{color:#cfff00;font-size:120%;font-weight:bold;}
div#content{background:#111;margin:0;padding:1em;width:640px;}
a{color:#cfff00;text-decoration:none;padding:1px;solid #e0e0e0;}
a:hover{color:#cfff00;text-decoration:underline;}
#table-of-contents{margin:1em 0;padding:.1em;}
#table-of-contents li a,
#table-of-contents li a:hover,
#table-of-contents li a:visited,
#table-of-contents li a:hover{border:0;color:#9fc800;}
div.title{margin:-1em -1em 0;font-size:150%;font-weight:bold;background:#369;color:red;padding:.75em 1em;font-family:"BitStream Vera Sans", Verdana;letter-spacing:.1em;}
h1{background:#cfff00 none repeat scroll 0 0;color:black;font-size:150%;font-weight:bold;letter-spacing:0.1em;margin:.1em .1em .2em;padding:0.75em 1em;}
h2{font-size:140%;}
h3{font-size:130%;}
h4{font-size:130%;}
h5{font-size:120%;}
h6{font-size:110%;}
h2, h3, h4, h5, h6{border-bottom:2px solid black;font-weight:bold;color:yellow;margin-top:35px;}
tt{color:#00f;}
.verbatim{margin:.5em 0;}
pre{border:1px solid #ccc;background:black;padding:.5em;overflow:auto;font-size:110%;white-space:pre-wrap;}
.verbatim pre{margin:0;}
.verbatim-caption{border:1px solid #ccc;border-bottom:0;background:#fff;display:block;font-size:80%;padding:.2em;}
div#postamble p{text-align:left;color:#888;font-size:80%;padding:1;margin:1;}
table{font-size:100%;border-collapse:collapse;margin:.5em 0;}
th, td{border:1px solid #777;padding:.3em;margin:2px;}
th{background:#cfff00;color:#000}
span.underline{text-decoration:underline;}
.fixme{background:#ff0;font-weight:bold;}
.ra{text-align:right;}
.sidebar{float:right;width:25em;background-color:#a02f6c;color:#fff;margin:2em -2em 2em 2em;padding:1em;}
.sidebar a{border:none;}
.sidebar a:link{color:#3ff;}
.sidebar a:visited{color:#3cc;}
.sidebar a:hover{color:#ff6;}
.sidebar a:active{color:#900;}
.title{text-align:center;}
.todo{color:red;}
.done{color:green;}
.timestamp{color:gray}
.timestamp-kwd{color:#f59ea0;}
.tag{background-color:#add8e6;font-weight:normal}
.target{background-color:#551a8b;}
pre{border:1pt solid #80c800;background-color:black;padding:4pt;font-family:inconsolata, courier, monospace;font-size:110%;white-space:pre-wrap;}
table{border-collapse:collapse;}
td, th{vertical-align:top;}
.org-info-search-highlight{background-color:#adefef;color:#000000;font-weight:bold;}
.org-bbdb-company{font-style:italic;}
.org-bbdb-field-name{}
.org-bbdb-field-value{}
.org-bbdb-name{text-decoration:underline;}
.org-bold{font-weight:bold;}
.org-bold-italic{font-weight:bold;font-style:italic;}
.org-border{background-color:#000000;}
.org-buffer-menu-buffer{font-weight:bold;}
.org-builtin{color:#da70d6;}
.org-button{text-decoration:underline;}
.org-c-nonbreakable-space{background-color:#ff0000;font-weight:bold;}
.org-calendar-today{text-decoration:underline;}
.org-comment{color:#b22222;}
.org-comment-delimiter{color:#b22222;}
.org-constant{color:#5f9ea0;}
.org-cursor{background-color:#000000;}
.org-default{color:#000000;background-color:#ffffff;}
.org-diary{color:#ff0000;}
.org-doc{color:#bc8f8f;}
.org-escape-glyph{color:#a52a2a;}
.org-file-name-shadow{color:#7f7f7f;}
.org-fixed-pitch{}
.org-fringe{background-color:#f2f2f2;}
.org-function-name{color:#0000ff;}
.org-header-line{color:#333333;background-color:#e5e5e5;}
.org-help-argument-name{font-style:italic;}
.org-highlight{background-color:#b4eeb4;}
.org-holiday{background-color:#ffc0cb;}
.org-info-header-node{color:#a52a2a;font-weight:bold;font-style:italic;}
.org-info-header-xref{color:#0000ff;text-decoration:underline;}
.org-info-menu-header{font-weight:bold;}
.org-info-menu-star{color:#ff0000;}
.org-info-node{color:#a52a2a;font-weight:bold;font-style:italic;}
.org-info-title-1{font-size:172%;font-weight:bold;}
.org-info-title-2{font-size:144%;font-weight:bold;}
.org-info-title-3{font-size:120%;font-weight:bold;}
.org-info-title-4{font-weight:bold;}
.org-info-xref{color:#0000ff;text-decoration:underline;}
.org-isearch{color:#b0e2ff;background-color:#cd00cd;}
.org-italic{font-style:italic;}
.org-keyword{color:#a020f0;}
.org-lazy-highlight{background-color:#afeeee;}
.org-link{color:#0000ff;text-decoration:underline;}
.org-link-visited{color:#8b008b;text-decoration:underline;}
.org-match{background-color:#ffff00;}
.org-menu{}
.org-message-cited-text{color:#ff0000;}
.org-message-header-cc{color:#191970;}
.org-message-header-name{color:#6495ed;}
.org-message-header-newsgroups{color:#00008b;font-weight:bold;font-style:italic;}
.org-message-header-other{color:#4682b4;}
.org-message-header-subject{color:#000080;font-weight:bold;}
.org-message-header-to{color:#191970;font-weight:bold;}
.org-message-header-xheader{color:#0000ff;}
.org-message-mml{color:#228b22;}
.org-message-separator{color:#a52a2a;}
.org-minibuffer-prompt{color:#0000cd;}
.org-mm-uu-extract{color:#006400;background-color:#ffffe0;}
.org-mode-line{color:#000000;background-color:#bfbfbf;}
.org-mode-line-buffer-id{font-weight:bold;}
.org-mode-line-highlight{}
.org-mode-line-inactive{color:#333333;background-color:#e5e5e5;}
.org-mouse{background-color:#000000;}
.org-negation-char{}
.org-next-error{background-color:#eedc82;}
.org-nobreak-space{color:#a52a2a;text-decoration:underline;}
.org-org-agenda-date{color:#0000ff;}
.org-org-agenda-date-weekend{color:#0000ff;font-weight:bold;}
.org-org-agenda-restriction-lock{background-color:#ffff00;}
.org-org-agenda-structure{color:#0000ff;}
.org-org-archived{color:#7f7f7f;}
.org-org-code{color:#7f7f7f;}
.org-org-column{background-color:#e5e5e5;}
.org-org-column-title{background-color:#e5e5e5;font-weight:bold;text-decoration:underline;}
.org-org-date{color:#a020f0;text-decoration:underline;}
.org-org-done{color:#228b22;font-weight:bold;}
.org-org-drawer{color:#0000ff;}
.org-org-ellipsis{color:#b8860b;text-decoration:underline;}
.org-org-formula{color:#b22222;}
.org-org-headline-done{color:#bc8f8f;}
.org-org-hide{color:#e5e5e5;}
.org-org-latex-and-export-specials{color:#8b4513;}
.org-org-level-1{color:#0000ff;}
.org-org-level-2{color:#b8860b;}
.org-org-level-3{color:#a020f0;}
.org-org-level-4{color:#b22222;}
.org-org-level-5{color:#228b22;}
.org-org-level-6{color:#5f9ea0;}
.org-org-level-7{color:#da70d6;}
.org-org-level-8{color:#bc8f8f;}
.org-org-link{color:#a020f0;text-decoration:underline;}
.org-org-property-value{}
.org-org-scheduled-previously{color:#b22222;}
.org-org-scheduled-today{color:#006400;}
.org-org-sexp-date{color:#a020f0;}
.org-org-special-keyword{color:#bc8f8f;}
.org-org-table{color:#0000ff;}
.org-org-tag{font-weight:bold;}
.org-org-target{text-decoration:underline;}
.org-org-time-grid{color:#b8860b;}
.org-org-todo{color:#ff0000;}
.org-org-upcoming-deadline{color:#b22222;}
.org-org-verbatim{color:#7f7f7f;text-decoration:underline;}
.org-org-warning{color:#ff0000;font-weight:bold;}
.org-outline-1{color:#0000ff;}
.org-outline-2{color:#b8860b;}
.org-outline-3{color:#a020f0;}
.org-outline-4{color:#b22222;}
.org-outline-5{color:#228b22;}
.org-outline-6{color:#5f9ea0;}
.org-outline-7{color:#da70d6;}
.org-outline-8{color:#bc8f8f;}
.org-preprocessor{color:#da70d6;}
.org-query-replace{color:#b0e2ff;background-color:#cd00cd;}
.org-regexp-grouping-backslash{font-weight:bold;}
.org-regexp-grouping-construct{font-weight:bold;}
.org-region{background-color:#eedc82;}
.org-rmail-highlight{}
.org-scroll-bar{background-color:#bfbfbf;}
.org-secondary-selection{background-color:#ffff00;}
.org-shadow{color:#7f7f7f;}
.org-show-paren-match{background-color:#40e0d0;}
.org-show-paren-mismatch{color:#ffffff;background-color:#a020f0;}
.org-string{color:#bc8f8f;}
.org-texinfo-heading{color:#0000ff;}
.org-tool-bar{color:#000000;background-color:#bfbfbf;}
.org-tooltip{color:#000000;background-color:#ffffe0;}
.org-trailing-whitespace{background-color:#ff0000;}
.org-type{color:#228b22;}
.org-underline{text-decoration:underline;}
.org-variable-name{color:#b8860b;}
.org-variable-pitch{}
.org-vertical-border{}
.org-warning{color:#ff0000;font-weight:bold;}
